* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

p {
    padding-bottom: 12px;
}

p:empty {
    display: none;
}

button {
    border: 0px;
}

/* Home page */
header {
    background-color: #333;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    color: white;
}

div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #333;
}

.nav-link {
    color: white;
}

a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.about-us {
    display: flex;
    /* Assignment instructions say to align the text content at the center of the section */
    /* but Fig.1 shows that the About Us text is not centered for some reason. */
    /* We will do what the assignment instructions say and center the text. */
    align-items: center;    
    flex-direction: column;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

.shop-now button {
    background-color: #4CAF50;
    padding: 5px;
    border-radius: 5px;
    margin: 20px;
    color: white;
}

.customer-reviews {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

.review {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 10px;
    margin: 0px;
    color: white;
}


/* Product page */
@media screen and (min-width: 769px) {
    .product-list {
        padding: 20px; 
        margin: 20px; 
        gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    .product-list {
        padding: 10px; 
        margin: 10px; 
        gap: 20px;
    }
}

@media screen and (max-width: 480px) {
    .product-list {
        padding: 5px; 
        margin: 5px; 
        gap: 10px;
    }
}
  
.product-list {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    background-color: #ddd;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    max-width: 100%;
}

.product img {
    height: 350px;
    object-fit: contain;
    max-width: 100%; 
    border-radius: 8px;
    margin-bottom: 10px;
}

.price {
    color: #007BFF;
    font-weight: bold;
    margin: 10px;
}

.product:hover {
    background-color: #ffffff;
}

.product button {
    color: #fff;
    background-color: #999;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.product button:hover {
    background-color: #45A049;
}

.cart-list {
    padding: 20px;
    margin: 20px;
    background-color: #ddd
}

.cart-title {
    background-color: #ddd;
    margin: 10px;
    padding: 10px;
}

.cart-item-list {
    display: block;
    background-color: #ddd;
    text-align: center;
}

.cart-item-list button{
    width: 70px;
    margin: 5px;
    padding: 5px;
    color: white;
    background-color: #999;
    border-radius: 5px;
}

.cart-item-list button:hover {
    background-color: #ff0000;
}


/* Contact page */
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.contact-method {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
}

.social {
    color: purple;
    padding-bottom: 10px;
    padding-left: 0px;
}

.social:hover {
    color: #007BFF;
}


/* Login page */
.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.login-form label {
    display: block;
    margin: 10px;
}

.login-form input[type="text"], .login-form input[type="password"] {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.login-btn {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
}

.login-btn:hover {
    background-color: #45A049;
    opacity: 1.0;
}

.signup-link {
    color: #007BFF;
    margin: 10px;
}

.signup-link:hover {
    text-decoration: underline;
}